body {
  background-color: #2f2f2f;
  color: #f7f7ff;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-auto-flow: row;
  grid-template-areas:
    "d1   d2   d3    d4"
    "sa p1 pnt1 tp1"
    "so p1 pnt1 tp1"
    "bd1 p1 pnt1 tp1";
  border: 2px solid #f7f7ff;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

img {
  margin-top: 5rem;
}
.d1 {
  grid-area: d1;
  background-color: #2f2f2f;
  color: #f7f7ff;
  margin: auto;
}

.d2 {
  grid-area: d2;
  background-color: #2f2f2f;
  color: #f7f7ff;
  margin: auto;
}

.d3 {
  grid-area: d3;
  background-color: #2f2f2f;
  color: #f7f7ff;
  margin: auto;
}

.d4 {
  grid-area: d4;
  background-color: #2f2f2f;
  color: #f7f7ff;
  margin: auto;
}

.sa {
  grid-area: sa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #235889c0;
}

.so {
  grid-area: so;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5a0b4da2;
}

.bd1 {
  grid-area: bd1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #de3c4ca6;
}

.p1 {
  grid-area: p1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b1730fbb;
  align-items: center;
}

.pnt1 {
  grid-area: pnt1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a44200a4;
}

.tp1 {
  grid-area: tp1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b20d3196;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  gap: 5px;
}

a {
  text-decoration: none;
  color: #f7f7ff;
}
